<ion-view class="fondow" view-title="Bio-Tech">
  <ion-content class="padding fondow">
  		<div class="row">
  			<div class="col borde centrado"><video autoplay controls src ="../video/sinmenciones.mp4" height="350" width="350"></video>
  			</div>
  		</div>
  	<div class="row">
  		<div class="col centrado letra"><h1 class="letra">La Importancia del Agua</h1></div>
  	</div>
    <p>El agua es un elemento muy importante para los seres vivos ya que sin ellos la vida sobre la tierra acabaria en todo caso es nuestro deber como seres superiores darle importancia al agua </p>
      <div class="row">
      
      </div>
  	

  </ion-content>
</ion-view>
